/* UNIVERSAL */
* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}
/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 300px;
    background-color:#1F2937;
    font-size: 24px;
    color: #f9faf8;
}
.header-links {
    list-style-type: none;
    display: flex;
    gap: 16px;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 24px;
}

/* HERO SECTION */
.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 100px 300px;
    gap: 60px;
    background-color:#1F2937;
    color:#f9faf8
}

.action-btn{
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 10px;
    width: 100px;
    text-align: center;
}

.hero-img {
    width: 320px;
    
}

.hero-section h1 {
    font-size: 48px;
    font-weight: 900;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.hero-section p {
    font-size: 18px;
    font-weight: 300;
}

div.left-h {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
} 